.row:after {
  content: "";
  display: table;
  clear: both;
}

.calendar-dialog {
  width: 189px;
  border: 1px solid #000000;
  position: fixed;
  background-color: #FFFFFF;
}

.calendar-cell {
  width: 25px;
  height: 25px;
  line-height: 25px;
  float: left;
  text-align: center;
}

.calendar-container .select-date {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  box-shadow: none !important;
  border: 2px solid #DFE1E6 !important;
  padding: 5px 8px;
  cursor: pointer;
  width: 100%;
}

.calendar-container .header-cell {
  border: 1px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
}

.calendar-container .body-cell {
  border: 1px solid #dfe1e6;
}

.calendar-container .clickable {
  cursor: pointer;
}

.calendar-container .clickable:hover {
  background-color: #0065FF;
  color: #FFFFFF;
}

.calendar-container .non-clickable {
  background-color: #dfe1e6;
}

.calendar-container .cell-active {
  background-color: #000000;
  color: #FFFFFF;
}

.calendar-container .display-date {
  float: left;
  width: 109px;
  height: 25px;
  text-align: center;
}

.calendar-container .calendar-button {
  color: #0065FF;
  width: 40px;
  cursor: pointer;
}

.calendar-container .select-year {
  height: 20px;
  margin-top: 3px;
}