.slicer-body {
  padding-top: 5px;
}

.slicer-toggle-button {
  margin-top: 5px;
  background-color: #212121; 
  color: #FFFFFF;
  border-radius: 4px;
  border: 0;
  height: 20px;
  line-height: 20px;
  outline: none;
  cursor: pointer;
}