.dashboard-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 199px;
  overflow-y: auto;
  border-right: 1px solid #1e1e1e;
}
  
.dashboard-content {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  overflow: auto;
}

.dashboard-menu-item {
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid grey;
  background-color: black;
  word-break: break-all;
  color: white;
}

.dashboard-content-widget-panel {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  background-color: #eeeeee;
  overflow: auto;
}

.dashboard-full-width {
  right: 0px;
}

.dashboard-content-filter-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  background-color: #eeeeee;
  overflow: auto;
}

.dashboard-add-button {
  margin-top: 5px;
  width: 100%;
}
