.dashboard-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 199px;
  overflow-y: auto;
  border-right: 1px solid #1e1e1e;
}

.dashboard-content {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  overflow: auto;
}

.dashboard-menu-item {
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid grey;
  background-color: black;
  word-break: break-all;
  color: white;
}

.dashboard-menu-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.dashboard-content-widget-panel {
  position: absolute;
  top: 150px;
  left: 0;
  right: 200px;
  bottom: 0;
  background-color: #eeeeee;
  overflow: auto;
}

.dashboard-content-filter-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  background-color: #eeeeee;
  overflow: auto;
}
