.dashboard-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 199px;
  overflow-y: auto;
  border-right: 1px solid #1e1e1e;
}
  
.dashboard-content {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  overflow: auto;
}

.dashboard-menu-panel {
  padding: 5px 10px;
}

.dashboard-menu-item {
  margin: 5px;
  padding: 5px;
}

.dashboard-menu-item:hover {
  border-left: 3px solid #0065FF;
  background-color: #B3BAC5;
  color: white;
}

.dashboard-menu-item-active {
  border-left: 3px solid #0065FF;
  background-color: #091E42;
  color: #FFFFFF;
}

.dashboard-content-widget-panel {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eeeeee;
  overflow: auto;
  padding: 5px 10px 10px 20px;
}

.dashboard-add-button {
  margin-top: 5px;
  width: 100%;
}

.dashboard-name {
  margin: 0px 0px 0px 10px;
  padding: 10px 14px;
}

.dashboard-attribute-edit-panel {

}

.dashboard-edit-widget-dialog {
  left: 50%;
  width: 1000px;
  top: 20px;
  bottom: 20px;
  margin-left: -500px;
}

.dashboard-edit-filter-dialog {
  left: 50%;
  width: 1000px;
  top: 20px;
  bottom: 20px;
  margin-left: -500px;
}