.login-panel {
  padding: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  margin-top: -200px;
  margin-left: -150px;
  border-radius: 6px;
}

.long-panel-body {
  padding: 15px;
  background-color: rgba(18, 91, 152, 0.1);
}

.login-app-title {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 25px;
}

.login-button {
  margin-top: 5px;
  width: 100%;
}

.login-error-msg {
  text-align: center;
  margin: 3px 0px;
  color: #DE350B;
}