.login-view {
}

.login-panel {
  padding: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  margin-top: -230px;
  margin-left: -150px;
}

.login-panel-body {
  padding: 15px;
  background-color: rgba(18, 91, 152, 0.1);
  border-radius: 5px;
}

.login-app-title {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 25px;
  color: #0065FF;
}

.login-button {
  margin-top: 5px;
  width: 100%;
}

.login-error-msg {
  text-align: center;
  margin-bottom: 5px;
  color: #FF5630;
  font-weight: bold;
}

.version-number {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
}