.report-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 199px;
  overflow-y: auto;
  border-right: 1px solid #DBDBDB;
  background-color: #F5F5F5;
}
  
.report-content {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
  background-color: #F5F5F5;
  overflow: auto;
}

.report-menu-panel {
  padding: 5px 10px;
}

.report-menu-item {
  border-left: 3px solid #EBECF0;
  margin: 5px 0px;
  padding: 5px 8px;
  color: #8993A4;
  line-height: 26px;
  cursor: pointer;
}

.report-menu-item:hover {
  border-left: 3px solid #0065FF;
}

.report-menu-item-active {
  border-left: 3px solid #0065FF;
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.report-content-component-panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 0px 10px 10px 20px;
}

.report-drillthrough-name {
  padding: 6px 0px 6px 14px;
  font-size: 20px;
}

.report-name {
  padding: 6px 14px;
  font-size: 20px;
}

.report-name-input {
  margin-left: 10px;
}

.report-edit-component-dialog {
  left: 50%;
  width: 800px;
  top: 20px;
  bottom: 20px;
  margin-left: -400px;
}

.report-edit-filter-dialog {
  left: 50%;
  width: 1000px;
  top: 20px;
  bottom: 20px;
  margin-left: -500px;
}

.empty-report {
  margin-top: 20px;
  text-align: center;
  color:#0065FF;
  font-size: 20px;
  font-weight: 700;
}

.report-side-panel {
  position: fixed;
  top: 40px;
  left: 0px;
  bottom: 0px;
  width: 200px;
  border: 0;
  outline: 0;
  overflow-y: auto;
  background-color: #4B4B4B; 
  color: #DFDFDF;
  z-index: 60;
}