
.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline-block;
  list-style: none;
  font-size: 16px; 
  padding: 11px 14px;
}

.nav-menu-text {
  margin-left: 6px;
}

.nav-menu li a {
  color: #d6d7e1;
  padding: 11px 14px;
  text-decoration: none;
}

.nav-menu li a:hover {
  background-color: #0065FF;
}

.nav-menu-item-active {
  color: #e9ebee;
  background-color: #0065FF;
}