.margin2 {
    margin: 2rem;
  }

.table-control-container {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
  }