.workspace-name {
  display: block;
  color: #0065FF;
  padding: 7px 18px;
  font-size: 22px;
  font-weight: bold;
  float: left;
  margin-right: 6px;
}

.workspace-nav {
  width: 100%;
  height: 40px;
  background-color: #212121;
}

.workspace-nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}

.workspace-nav-menu li {
  display: inline-block;
  list-style: none;
  font-size: 16px; 
}

.workspace-nav-menu-text {
  margin-left: 6px;
}

.workspace-nav-menu li a {
  display: block;
  color: #8993A4;
  text-decoration: none;
  padding: 9px 14px;   
}

.workspace-nav-menu li a:hover {
  border-bottom: 3px solid #0065FF;
}

.menu-item-active a {
  border-bottom: 3px solid #0065FF;
  color: #FFFFFF !important;
}

.workspace-content {
  position: fixed;
  top: 40px;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: #efefef;
  overflow-x: hidden;
  overflow-y: auto; 
}

.workspace-account-menu {
  float: right;
}

.workspace-account-button a {
  display: block;
  color: #8993A4;
  padding: 9px 14px;
  text-decoration: none;
}

.workspace-account-button a:hover {
  border-bottom: 3px solid #0065FF;
}

.workspace-logout-button {
  color: #8993A4;
  padding: 9px 14px;
  text-decoration: none;
  cursor: pointer;
}