.colorpicker-select {
  background-color: #373737;
  border: 1px solid #00001c;
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.149) 0px 1px 3px, rgba(0, 0, 0, 0.0196) 0px 1px 0px;
  border-radius: 4px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.colorpicker-color {
  width: 36px;
  height: 20px;
  border-radius: 4px;
}

.colorpicker-popover {
  position: fixed;
  z-index: 90;
}

.colorpicker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 89;
}