
html,
body,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, sans-serif;
  color: #172B4D;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.authenticating-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 90px;
  margin-top: -45px;
  margin-left: -80px;
  text-align: center;
}

.authenticating-panel-title {
  font-size: 30px;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
  color: #0065FF;
}

.form-panel {
  border: 0;
  outline: 0;
}

.form-panel .form-input,
.form-panel ul,
.form-panel .info-value 
.form-input {
  margin-bottom: 10px;
}

.form-panel label {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
}

.panel {
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background-color: #f6f9fc;
}

.small-modal-panel {
  left: 50%;
  width: 300px;
  top: 20px;
  margin-left: -150px;
}

.mid-modal-panel {
  left: 50%;
  width: 500px;
  top: 20px;
  margin-left: -250px;
}

.full-screen-view {
  background-color: #F4F5F7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.full-page-content {
  padding: 10px;
}

.confirm-deletion-panel {
  margin: 5px 0px 15px 0px;
}

.icon-button {
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  height: 30px;
  width: 30px;
  outline: none;
  padding: 0px !important;
  cursor: pointer;
}

.square-button {
  width: 36px;
  height: 36px;
  padding: 0px !important;
}

.button {
  background: #0065FF;
  color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  padding: 0px 12px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #2684FF;
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

.form-input,
.table-row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  width: 100%;
  padding: 7px 10px;
  box-shadow: rgba(50, 50, 93, 0.149) 0px 1px 3px, rgba(0, 0, 0, 0.0196) 0px 1px 0px;
  border: 2px solid #FFFFFF;
  outline: 0;
  border-radius: 4px;
  background: #FFFFFF;
  font-size: 16px;
}

.form-input:placeholder {
  color: #aab7c4;
}

.form-input:focus {
  border: 2px solid #0065FF; 
}

.inline-text-label {
  height: 36px;
  line-height: 36px;
}

textarea {
  resize: vertical;
}

h1 {
  color: #32325d;
  font-weight: 400;
  line-height: 50px;
  font-size: 40px;
  margin: 20px 0;
  padding: 0;
}

.required {
  color: #FF5630;
}

.mt-3 {
  margin-top: 3px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-3 {
  margin-right: 3px;
}

.ml-4 {
  margin-left: 4px;
}

.link-label {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.table-panel {
  margin-top: 10px;
}

.table-row {
  padding: 4px 6px;
  margin-bottom: 6px;
  background-color: #FFFFFF;
  box-shadow: rgba(50, 50, 93, 0.149) 0px 1px 3px, rgba(0, 0, 0, 0.0196) 0px 1px 0px;
  outline: 0;
  border-radius: 4px;
  background: #FFFFFF;
  line-height: 28px;
}

.table-row-button {
  height: 28px;
  line-height: 28px;
  padding: 0px 8px !important;
}

/* Card */
.card {
  border: 0;
  outline: 0;
  border-radius: 4px;
  margin: 0px 10px 10px 0px;
  background-color: #FFFFFF;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  width: 160px;
  height: 160px;
  display:flex;
  flex-direction: column;
}

.card-header {
  flex: 0 1 auto;
  padding: 5px 10px;
  font-size: 20px;
}

.card-content {
  overflow: auto; 
  flex: 1 1 auto;
  padding: 5px 10px;
}

.card-footer {
  flex: 0 1 auto;
  padding: 5px;
}

.card-icon-button {
  margin: 0px 2px 0px 2px;
  background-color: transparent;
}

.side-panel-title {
  padding: 4px 8px; 
  background-color: #393939; 
  border-top: 2px solid #1E1E1E; 
  border-bottom: 2px solid #1E1E1E; 
}

.side-panel-button {
  color: #DFDFDF;
  background-color: #696969;
  border: 1px solid #1E1E1E;
  border-radius: 2px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  margin-top: 8px;
  height: 30px;
  transition-duration: 0.3s;
  outline: none;
  cursor: pointer;
}

.side-panel-button:hover {
  color: #696969;
  background-color: #DFDFDF;
}

.side-panel-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  background-color: #373737;
  border: 1px solid #1E1E1E;
  color: #dfdfdf;
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 2px;
  outline: 0;
}

.side-panel-number-input {
  width: 60px;
  text-align: right;
}

.side-panel-content {
  padding: 6px 10px;
}

.side-panel-content-row {
  font-size: 16px;
  line-height: 30px;
  height: 30px;
}


.filter-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  box-shadow: none !important;
  border: 2px solid #DFE1E6 !important;
  padding: 5px 8px;
  width: 100%;
  font-size: 16px;
}

/* Charts */
.echarts {
  width: 100% !important;
  height: 100% !important;
}

/* Utility */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.inline-block {
  display: inline-block;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
  padding: 0; 
}

.bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.button-green {
  background-color: #36B37E;
  color: #FFFFFF;
}

.button-green:hover {
  background-color: #57D9A3;
  color: #FFFFFF;
}

.button-red {
  background-color: #FF5630;
  color: #FFFFFF;
}

.button-red:hover {
  background-color: #FF7452;
  color: #FFFFFF;
}

.button-black {
  background-color: #091E42;
  color: #FFFFFF;
}

.button-black:hover {
  background-color: #172B4D;
  color: #FFFFFF;
}

/* Tooltip */