
html,
body,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, sans-serif;
  color: #4b4f56;
  background-color: #f6f9fc;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.app-nav {
  position: fixed;
  top:0;
  left: 0px;
  right: 0px;
  height: 40px;
  background-color: #f9f9f9;
}

.Nav {
  border: 1px solid #0065FF;
}

.Nav_title-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 39px;
  background-color: #282a3c;
  z-index: 1;
  border-bottom: 1px solid white;
}

.Status_bar {
  position:fixed;
  top:0;
  left: 180px;
  right:0;
  height:39px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  z-index: 2;
}

.app-name {
  display: block;
  color: #0065FF;
  padding: 7px 18px;
  font-size: 22px;
  font-weight: bold;
  float: left;
  margin-right: 20px;
}

.app-nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-nav-menu li {
  float: left;
  font-size: 16px; 
}

.app-nav-menu-text {
  margin-left: 6px;
}

.app-nav-menu li a {
  display: block;
  color: #d6d7e1;
  padding: 11px 14px;
  text-decoration: none;
}

.app-nav-menu li a:hover {
  background-color: #0065FF;
}

.app-nav-menu .active {
  color: #e9ebee;
  background-color: #e9ebee;
}

.app-content {
  position: fixed;
  top: 40px;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: #e9ebee;
  overflow: hidden; 
  padding: 10px;
}

.panel {
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background-color: #f6f9fc;
}


.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.testGrid {
  border: 1px solid green;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.lg-modal-panel {
  background-color: #f9f9f9;
  padding: 10px;
  position: fixed;
  top: 20px;
  left: 40px;
  right: 40px;
  bottom: 20px;
  overflow-y: auto;
  z-index: 50;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.right-modal-panel {
  background-color: #f9f9f9;
  padding: 10px;
  position: fixed;
  top: 20px;
  right: 0;
  bottom: 20px;
  width: 200px;
  overflow-y: auto;
  z-index: 50;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 49;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.icon-button-group {
  float: right;
}

.icon-btn {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

button {
  background: #0065FF;
  color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  height: 40px;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 3px;
}

button:focus {
  background: #0052CC;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

button:active {
  background: #0747A6;
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #2684FF;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

input[type=text],
input[type=password],
select,
textarea,
.PoliElement {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0px;
  padding: 10px 14px;
  font-size: 1em;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

input::placeholder,
.PoliElement {
  color: #aab7c4;
}

input:focus,
.PoliElement {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

h1 {
  color: #32325d;
  font-weight: 400;
  line-height: 50px;
  font-size: 40px;
  margin: 20px 0;
  padding: 0;
}


label {
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.testPanel {
  padding: 10px;
  border: 2px solid #0065FF;
  margin-top: 10px;
}

.filterViewPanel:before,
.filterViewPanel:after {
  content: "";
  display: table;
} 
.filterViewPanel:after {
  clear: both;
}

.filter-card {
  margin: 5px;
  border: 1px solid #0065FF;
}

.filter-card-title {
  color: #e0e0e0;
  background-color: #4b4f56;
  padding: 3px;
}

/** ReactTable */
.ReactTable {
  font-size: 15px;
}

.ReactTable .rt-table {
  background-color: #fff;
}

.ReactTable .rt-thead {
  overflow-y: scroll;
}

.ReactTable .rt-thead .rt-th.-sort-asc, 
.ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 3px 0 0 red;
}

.ReactTable .rt-thead .rt-th.-sort-desc, 
.ReactTable .rt-thead .rt-td.-sort-desc {
    box-shadow: inset 0 -3px 0 0 red;
}

.ReactTable .-pagination .-pageInfo,
.ReactTable .-pagination .-pageSizeOptions {
  margin: 0px;
  font-size: 15px;
}

/* Charts */
.echarts {
  width: 100% !important;
  height: 100% !important;
}

/* Utility */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.inline-block {
  display: inline-block;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
