.selectbuttons-container {
  display: flex;
  flex-direction: row;
  width: inherit;
  box-sizing: border-box;
}

.selectbuttons-container .select-button {
  margin-right: 5px;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 0;
  outline: none;
  color: #8993A4;
  box-shadow: rgba(50, 50, 93, 0.149) 0px 1px 3px, rgba(0, 0, 0, 0.0196) 0px 1px 0px;
  flex-grow: 1;
}

.selectbuttons-container .select-button:hover {
  background-color: #C1C7D0;
}

.selectbuttons-container .select-button-active {
  background-color: #212121;
  color: white;
}


