.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
}

.dropdown-panel {
  position: fixed;
  z-index: 151;
  box-shadow: rgba(50, 50, 93, 0.149) 0px 1px 3px, rgba(0, 0, 0, 0.0196) 0px 1px 0px;
  border-radius: 4px;
  top: 85px;
  right: 35px;
  background-color: #FFFFFF;
  border: 1px solid #e0e0e0;
}

.dropdown-body {
  padding: 8px;
}