.checkbox-container {
  display: flex;
  flex-flow: row;
  margin: 3px;
}


.checkbox-checkmark {
  width: 20px;
  height: 20px;
  flex: 0 1 auto;
}

.checkbox-label {
  margin-left: 3px;
  flex: 1 1 auto;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}