.colorpicker-select {
  background-color: #373737;
  border: 1px solid #1E1E1E;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.colorpicker-color {
  width: 36px;
  height: 20px;
  border-radius: 4px;
}

.colorpicker-popover {
  position: fixed;
  z-index: 90;
}

.colorpicker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 89;
}