.colorpicker-select {
  padding: 5px;
  background: #FFFFFF;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  display: inline-block;
  cursor: pointer;
}

.colorpicker-popover {
  position: absolute;
  z-index: 300;
}