
.filter-view-panel {
  margin-top: 10px;
}

.filter-card {
  margin: 5px 5px 0px 0px;
  border: 2px solid #000000;
  padding: 3px 5px;
}

.filter-card-title {
  padding: 3px;
}

.icon-button-group {
  float: right;
}