
.filterViewPanel:before,
.filterViewPanel:after {
  content: "";
  display: table;
} 
.filterViewPanel:after {
  clear: both;
}

.filter-card {
  margin: 5px;
  border: 1px solid #0065FF;
}

.filter-card-title {
  padding: 3px;
}

.icon-button-group {
  float: right;
}