
.grid-layout {
  position: relative;
  border: 1px solid #0066CC;
  background-color: #fff;
}
.grid-box {
  position: absolute;
  border: 2px solid #4b4f56;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #FFFFFF;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.grid-box-title {
  color: #e0e0e0;
  background-color: #4b4f56;
  padding: 3px;
  flex: 0 1 auto;
}

.grid-box-content {
  flex: 1 1 auto;
}

.grid-draggable {
  background-color: #4b4f56;
  color: #e0e0e0;
  height: 18px;
  width: 18px;
  font-size: 16px;
  cursor: grab;
  position:absolute; 
  right: 3px; 
  top: 3px; 
}

.grid-resizable {
  width: 12px;
  height: 12px;
  position:absolute; 
  right: 0; 
  bottom: 0; 
  cursor: move; 
}