
.grid-layout {
  position: relative;
  background-color: #FFFFFF;
}

.grid-box {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #EBECF0;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.grid-box-title {
  padding: 3px 6px;
  flex: 0 1 auto;
}

.grid-box-title-value {
  font-size: 18px;
}

.grid-box-content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.grid-box-content-panel {
  padding: 0px 5px;
  z-index: 1;
}

.grid-edit-panel {
  position:absolute; 
  right: 0; 
  top: 0; 
  background-color: transparent;
  padding: 4px;
  z-index: 2;
}

.grid-draggable {
  cursor: move;
}

.grid-resizable {
  width: 12px;
  height: 12px;
  position:absolute; 
  right: 0; 
  bottom: 0; 
  cursor: se-resize; 
}

.grid-box-file-button-group {
  float: right;
  display: none;
}

.grid-box-title:hover .grid-box-file-button-group {
  float: right;
  display: block;
  transition: 0.3s;
}

.grid-box-icon {
  cursor: pointer;
}