.selectbuttons-container {
  content: "";
  display: table;
  clear: both;
}

.selectbuttons-container .select-button {
  float: left;
  margin-right: 5px;
  min-width: 100px;
  text-align: center;
  border-radius: 2px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 0;
  outline: none;
  color: #8993A4;
}

.selectbuttons-container .select-button:hover {
  background-color: #C1C7D0;
}

.selectbuttons-container .select-button-active {
  background-color: #091e42;
  color: white;
}


