.tab-header {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  padding: 0px;
  margin: 0px;
}

.tab-header-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 8px 16px;
  min-width: 60px;
  cursor: pointer;
}

.tab-header-active {
  background-color: white;
  border: 1px solid #ccc;
  border-bottom: 3px solid #0065FF;
}

.tab-content {
}