.tab-header {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  padding: 0px;
  margin: 0px;
}

.tab-header-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 10px 25px;
  min-width: 80px;
}

.tab-header-active {
  background-color: white;
  border: 1px solid #ccc;
  border-bottom: 2px solid #0065FF;
}